@charset "UTF-8";
body {
  overflow-x: hidden;
  font: 12px/1.6 "微软雅黑";
  color: #333;
  height: 8000px;
}

body,
dl,
dt,
dd,
ol,
ul,
p,
form,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

ul,
ol {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.public {
  width: 1190px;
  margin: 0 auto;
}

#content {
  background-color: #f5f5f5;
}

#content .banner {
  width: 100%;
  height: 440px;
  border-top: 2px solid #ff0077;
  background-color: #fe94aa;
}

#content .banner .left-box {
  position: relative;
  float: left;
  width: 256px;
  height: 434px;
  padding: 3px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#content .banner .left-box .one-menu:hover .li {
  background-color: #fff;
  border-left-color: #ff0077;
}

#content .banner .left-box .one-menu .li {
  height: 31px;
  border-left: 2px solid transparent;
  line-height: 31px;
  padding-left: 18px;
}

#content .banner .left-box .one-menu .li:hover .content-menu {
  display: block;
}

#content .banner .left-box .one-menu .li h3 {
  float: left;
  font-size: 14px;
}

#content .banner .left-box .one-menu .li h3 a {
  color: #333;
}

#content .banner .left-box .one-menu .li p {
  float: left;
}

#content .banner .left-box .one-menu .li p:hover a {
  text-decoration: underline;
}

#content .banner .left-box .one-menu .li p a {
  margin-left: 15px;
}

#content .banner .left-box .one-menu .li .mark {
  color: #ff0077;
}

#content .banner .left-box .one-menu .li .special i {
  display: inline-block;
  margin-left: 2px;
  width: 12px;
  height: 13px;
  background: url("../images/header/hot.png") no-repeat 0/cover;
}

#content .banner .left-box .content-menu {
  display: none;
  position: absolute;
  left: 256px;
  top: 0;
  z-index: 2;
  width: 777px;
  height: 440px;
  background-color: #fff;
}

#content .banner .left-box .content-menu .menu-one {
  float: left;
  padding-left: 20px;
  padding-right: 25px;
  width: 475px;
}

#content .banner .left-box .content-menu .menu-one dl {
  margin-top: 25px;
}

#content .banner .left-box .content-menu .menu-one dl dt h3 {
  float: left;
}

#content .banner .left-box .content-menu .menu-one dl dt h3:hover a {
  color: #FF7E20;
}

#content .banner .left-box .content-menu .menu-one dl dt div {
  float: right;
}

#content .banner .left-box .content-menu .menu-one dl dt i {
  display: inline-block;
  width: 10px;
  height: 12px;
  background: url("../images/icon/right.png") no-repeat 0/cover;
}

#content .banner .left-box .content-menu .menu-one dl dd {
  width: 410px;
}

#content .banner .left-box .content-menu .menu-one dl dd:hover a {
  color: #F78157;
}

#content .banner .left-box .content-menu .menu-one dl dd a {
  margin-right: 16px;
}

#content .banner .left-box .content-menu .menu-tow {
  float: left;
  width: 255px;
  border-left: 1px solid #ddd;
}

#content .banner .left-box .content-menu .menu-tow h2 {
  height: 40px;
  line-height: 50PX;
  font-size: 16PX;
  text-align: center;
}

#content .banner .left-box .content-menu .menu-tow .you-like {
  padding: 4px 10px;
}

#content .banner .left-box .content-menu .menu-tow .you-like li {
  line-height: 23px;
  float: left;
  width: 100px;
}

#content .banner .left-box .content-menu .menu-tow .you-like li:hover img {
  opacity: 0.9;
}

#content .banner .left-box .content-menu .menu-tow .you-like li img {
  vertical-align: middle；;
}

#content .banner .left-box .content-menu .menu-tow .you-like li a {
  text-decoration: none;
}

#content .banner .left-box .content-menu .menu-tow .you-like li a:hover p {
  color: #F78157;
}

#content .banner .left-box .content-menu .menu-tow .you-like li p {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content .banner .left-box .content-menu .menu-tow .you-like:nth-child(2n) li {
  margin-left: 12px;
}

#content .banner .centent-box {
  position: relative;
  float: left;
  width: 768px;
  height: 440px;
}

#content .banner .centent-box li {
  position: absolute;
}

#content .banner .centent-box li img {
  vertical-align: middle;
}

#content .banner .centent-box .point {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

#content .banner .centent-box .point span {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #FED362;
  border-radius: 50%;
}

#content .banner .right-box {
  width: 166px;
  float: left;
  padding-top: 10px;
}

#content .banner .right-box .member {
  height: 195px;
  background-color: #fff;
  padding-top: 10px;
  text-align: center;
}

#content .banner .right-box .member .people {
  display: block;
  margin: auto;
  width: 72px;
  height: 72px;
  background-color: pink;
  border-radius: 50%;
}

#content .banner .right-box .member .people img {
  margin: 0 6px;
}

#content .banner .right-box .member p {
  margin: 10px 0;
}

#content .banner .right-box .member p span {
  font-weight: bold;
}

#content .banner .right-box .member p:hover span {
  color: red;
}

#content .banner .right-box .member:hover p {
  color: #FED362;
}

#content .banner .right-box .member .member-core {
  margin: auto;
  display: block;
  width: 72px;
  height: 24px;
  border: 1px solid  #fe94aa;
  line-height: 24px;
  color: #fe94aa;
}

#content .banner .right-box .member:hover .member-core {
  color: red;
}

#content .banner .right-box .friend {
  height: 195px;
  background-color: #fff;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

#content .banner .right-box .friend .invite {
  margin-bottom: 5px;
}

#content .banner .right-box .friend .invite a {
  font-size: 16px;
  color: #333;
}

#content .banner .right-box .friend .invite:hover a {
  color: #ff0077;
}

#content .banner .right-box .friend .enjoy:hover a {
  color: red;
}

#content .banner .right-box .friend .enjoy a {
  font-size: 14px;
}

#content .banner .right-box .friend img {
  width: 130px;
  height: 130px;
}

#content .today-box {
  margin-top: 15px;
}

#content .today-box .today-rob .legt-time {
  float: left;
  width: 230px;
  height: 294px;
}

#content .today-box .today-rob .legt-time:hover img {
  opacity: 0.9;
}

#content .today-box .today-rob .legt-time img {
  width: 230px;
  height: 294px;
}

#content .today-box .today-rob .right-box {
  float: left;
  width: 960px;
  height: 294px;
}

#content .today-box .today-rob .right-box .right-content {
  position: relative;
}

#content .today-box .today-rob .right-box .right-content ul {
  float: left;
  padding: 0 20px;
  background-color: #fff;
}

#content .today-box .today-rob .right-box .right-content ul li {
  float: left;
  width: 190px;
  height: 264px;
  padding: 30px 20px 0;
}

#content .today-box .today-rob .right-box .right-content ul li .div-img {
  width: 190px;
  height: 190px;
  overflow: hidden;
}

#content .today-box .today-rob .right-box .right-content ul li .div-img:hover img {
  opacity: 0.9;
}

#content .today-box .today-rob .right-box .right-content ul li .cowboy {
  width: 160px;
  padding-left: 10px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 34px;
  text-overflow: ellipsis;
}

#content .today-box .today-rob .right-box .right-content ul li:hover .cowboy {
  color: #FF7E20;
}

#content .today-box .today-rob .right-box .right-content ul li .price span {
  float: left;
  font-size: 23px;
  color: #fe217d;
}

#content .today-box .today-rob .right-box .right-content ul li .price:hover span {
  color: blue;
}

#content .today-box .today-rob .right-box .right-content ul li .price i {
  float: right;
  font-size: 12px;
  font-style: normal;
  text-decoration: line-through;
  margin-top: 10px;
  color: #666;
}

#content .today-box .today-rob .right-box .right-content ul li .price:hover i {
  color: skyblue;
}

#content .today-box .today-rob .right-box .right-content .button left {
  left: 0;
  position: absolute;
  width: 25px;
  height: 54px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.9;
  cursor: pointer;
  background: url("../images/icon/spirit2.png") no-repeat 0px 0px cover;
}

#content .today-box .today-rob .right-box .right-content .button right {
  right: 0;
  position: absolute;
  width: 25px;
  height: 54px;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.9;
  cursor: pointer;
  background: url("../images/header/spirit2.png") no-repeat 0px 0px cover;
}

#content .today-box .today-rob .btn-img {
  float: left;
  width: 1190px;
  background-color: #10e670;
  border: 1px solid red;
}

#content .today-box .today-rob .btn-img ul {
  width: 1190px;
  background-color: #f36a2a;
}

#content .today-box .today-rob .btn-img ul li {
  margin-top: 10px;
  float: left;
}

#content .today-box .today-rob .btn-img ul li + li {
  margin-left: 10px;
  background-color: #FED362;
}

#content .today-box .today-rob .btn-img ul li + li img {
  height: 150px;
  vertical-align: middle;
}
