@charset "UTF-8";
.top-nav {
  height: 31px;
  width: 100%;
  background-color: #F2F2F2;
}

.top-nav .left {
  float: left;
  height: 31px;
  line-height: 31px;
}

.top-nav .left a {
  padding-left: 40px;
  background: url("../images/icon/qlt.png") no-repeat 16px -241px;
}

.top-nav .right {
  float: right;
  height: 31px;
  line-height: 31px;
  color: green;
}

.top-nav .right li {
  float: left;
  margin-right: 15px;
  /* border: 1px solid red;红色边框 */
}

.top-nav .right .order a {
  padding-left: 38px;
  color: green;
  /* border: 1px solid green;绿色边框 */
  background: url("../images/icon/qlt.png") no-repeat 15px -535px;
}

body {
  overflow-x: hidden;
  font: 12px/1.6 "微软雅黑";
  color: #333;
  height: 8000px;
}

body, dl, dt, ol, ul, p, form, input, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

ul, ol {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.public {
  width: 1190px;
  margin: 0 auto;
}
