body {
  height: 850px;
  background: url("img/bg_head.jpg") no-repeat center/cover;
}

.box {
  width: 610px;
  height: 48px;
  margin: 100px auto;
  background-image: linear-gradient(#fff, #eee 50%, #e7e7e7 50%, #e1e1e1);
}

.box li {
  float: left;
  border-right: 1px solid #ccc;
  line-height: 48px;
  text-align: center;
}

.box li a {
  display: block;
  height: 48px;
  color: #000;
}
