div:hover {
  color: red;
}

div ul {
  color: aqua;
}

div ul span {
  float: left;
  display: none;
}

div ul span:hover {
  background-color: red;
  width: 100px;
  height: 100px;
  color: aquamarine;
  display: block;
}
